html , body {
  height: 100%;
}

body {
  background: url(../images/page1/web/all_background.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#top-background {

}

#top-background img{
  width: 100%;
  background-size: cover;
}

#features img{
  display: block;
  margin:auto;
  width: 300px;
  height: 400px;
}

.no-padding {
  padding: 0;
}

.add-margin {
  margin: 50px auto;
}

.border-line {
  margin: auto;
  height: 3px;
  background-color: black;
}
