html , body {
  height: 100%;
}

body {
  background: url(../images/page1/web/all_background.png);
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#features img{
  display: block;
  margin:auto;
  width: 300px;
  height: 400px;
}

#characteristic img {
  display: block;
  margin: auto;
}

#characteristic > img {
  width: 500px;
  height: 500px;
}

#characteristic a img {
  width: 230px;
  height: 55px;
  margin-top : -130px;
}

#functional {
  background: url(../images/page1/web/bottom_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#top-background {
  width: 100%;
  height: 100%;
  background: url(../images/page1/web/top_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#top-background #top-left-side{
  display: block;
  margin-top: 200px;
  width: 480px;
  height: 330px;
}

/*#top-background #top-right-side {
  display: block;
  margin: auto;
  margin-top: 100px;
}*/
#top-background img{
  display: block;
  margin: auto;
  margin-top: 200px;
}

#functional img {
  width: 550px;
  height: 700px;
  margin: 50px 0px;
}

#functional #functional-left-side {
  border-right:2px solid black;
}

#btn-facebook , #btn-twitter {
  height: 30px;
  width: 30px;
}

.footer .container ul li {
  list-style: none;
  margin: 30px 0px;
}

#copyright {
  color: white;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: gray;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.no-padding {
  padding: 0;
}

.add-margin {
  margin: 90px auto;
}

.border-line {
  margin: auto;
  height: 3px;
  background-color: black;
}
