 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

#logo {
  height: 20px;

}

#sign-in {
  background-image: url("../images/sharelive.png");
  transition: 0.5s;
}

#sign-in:hover {
  background-image: url("../images/setting.jpg");
}
